.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 100%;
}
.dark_blue{
    background-color: #000080;
}
.light_blue{
    background-color: #6666b2;
}
.green{
    background-color: #008000;

}
.red{
    background-color: #FF0000;
}
@media screen and (max-width: 499px){
	.red{
		order: -1; /* remains at first position */
	}
	.dark_blue{
		order: 1;     /*  goes to bottom */
	}
}

@media screen and (min-width: 500px) {
    .red{
        width: 50%;
        order: -1;
    }
    .dark_blue {
        width: 100%;
        order: 1;
    }
    #container2 {
        width: 50%;

    }
}

/* We apply font styles to this resolution */
@media screen and (min-width: 800px) {
    .dark_blue {
        width: 25%;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 1.6em;
        order: 1; /* positive 1 layer goes last*/
    }
    #container2 {
        width: 50%;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 1.6em;
    }
    .red {
        width: 25%;
        order: -1; /* Negative 1 layer goes first*/
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 1.6em;
    }
}